:root {
  color-scheme: light dark;

  --color-neutral-0: #ffffff;
  --color-neutral-1: #f9fafa;
  --color-neutral-2: #f4f5f6;
  --color-neutral-3: #ededf0;
  --color-neutral-6: #b6b9c4;
  --color-neutral-8: #838691;
  --color-neutral-10: #50565e;

  --color-red-3: #f9b0b2;
  --color-red-6: #f03a3e;
  --color-blue-6: #006fff;
  --color-blue-7: #0059cc;

  --color-text-1: #212327;
  --color-text-2: #50565e;
  --color-text-3: #808893;

  --color-user-blue: #0984e3;
  --color-user-green: #b1f1e4;
  --color-user-yellow: #fdcb6e;
  --color-user-pink: #e84393;

  --color-user-blue-50: #{rgba(#0984e3, 0.5)};
  --color-user-green-50: #{rgba(#b1f1e4, 0.5)};
  --color-user-yellow-50: #{rgba(#fdcb6e, 0.5)};
  --color-user-pink-50: #{rgba(#e84393, 0.5)};

  @media (prefers-color-scheme: dark) {
    --color-neutral-0: #131416;
    --color-neutral-1: #1c1e21;
    --color-neutral-2: #282b2f;
    --color-neutral-3: #ededf0;
    --color-neutral-6: #b6b9c4;
    --color-neutral-8: #838691;
    --color-neutral-10: #dee0e3;

    --color-red-3: #913034;
    --color-red-6: #ee6367;
    --color-blue-6: #4797ff;
    --color-blue-7: #80b7ff;

    --color-text-1: #f9fafa;
    --color-text-2: #dee0e3;
    --color-text-3: #b7bcc2;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background: var(--color-neutral-0);
  color: var(--color-text-2);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25;
}

::selection {
  background-color: var(--color-current-user);
}
