.todoItem {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.input {
  display: flex;
  flex-grow: 1;
  padding: 0.5rem;

  border: 1px solid var(--color-neutral-3);
  border-radius: 0.25rem;
  font: inherit;
  color: var(--color-text-1);

  &:hover {
    background: var(--color-neutral-3);
  }

  &:focus,
  &:active {
    background: var(--color-neutral-2);
    border: 1px solid var(--color-blue-6);
    outline: none;
  }

  &:empty::before {
    content: attr(data-placeholder);
    color: var(--color-text-3);
    pointer-events: none;
  }

  &::highlight(purple) {
    background-color: rgba(155, 89, 182, 0.5);
  }

  &::highlight(green) {
    background-color: rgba(46, 204, 113, 0.5);
  }

  &::highlight(yellow) {
    background-color: rgba(230, 126, 34, 0.5);
  }

  &::highlight(red) {
    background-color: rgba(231, 76, 60, 0.5);
  }
}
