.todoItem {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  transition: all 0.15s ease;

  &[draggable="true"] {
    cursor: grab;
  }

  &.dragging {
    opacity: 0.5;
    cursor: grabbing;
  }
}

.input {
  display: flex;
  flex-grow: 1;
  padding: 0.5rem;

  border: 1px solid var(--color-neutral-3);
  border-radius: 0.25rem;
  font: inherit;
  color: var(--color-text-1);

  &:hover {
    background: var(--color-neutral-3);
  }

  &:focus,
  &:active {
    background: var(--color-neutral-2);
    border: 1px solid var(--color-blue-6);
    outline: none;
  }

  &:empty::before {
    content: attr(data-placeholder);
    color: var(--color-text-3);
    pointer-events: none;
  }

  &::highlight(blue) {
    background-color: var(--color-user-blue-50);
  }

  &::highlight(green) {
    background-color: var(--color-user-green-50);
  }

  &::highlight(yellow) {
    background-color: var(--color-user-yellow-50);
  }

  &::highlight(pink) {
    background-color: var(--color-user-pink-50);
  }
}
